<% coins = filter_trade( @coins, @trade_coin ) %>
<% trade_coin = coins.first %>
<% market_status = @market_status[ 'current_status' ] %>
<% border_color = border_color( market_status )%>
<% atp = average_price_change( coins ) %>
<% trade_available = '' %>
<%= audio_tag "mixkit-coin-win-notification-1992.wav", id:'notif-sound' %>

<table class = 'table'>

  <caption id='caption' style="padding: 0%">
    <h4>
      <%= ( trade_coin['name'] + ' trade  ' ).titleize %>
      <img style="width: 40px;" src=<%= trade_coin['image']%>>
      
      <em id='notifier' hidden='true'>
        <%= "\u{1F7E5}".encode( 'utf-8') %>
      </em>
    </h4>

    <div style="float:right">
      <% possible_runs = run_scores %>
      
      <div class="progress" style="width: 67px; height: 3px" >
        <% bull = "width:" + percentage_between( possible_runs[ 'bullish' ], 3 ).to_s + '%;' %>

        <div class="progress-bar bg-success" style=<%= bull %> role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
      <div>
        <em style="font-style:italic; font-weight:bold; color: black"><%= @market_status[ 'duration' ].to_s + 'm' %>
        <em style="font-style:italic; font-weight:bold; color: green"><%= @market_status[ 'bull_runs' ].to_s %></em>
        <em style="font-style:italic; font-weight:bold; color: black">:</em>
        <em style="font-style:italic; font-weight:bold; color: red"><%= @market_status[ 'bear_runs' ].to_s %></em>
      </div>
      
      <div class="progress" style="width: 67px; height: 3px" >
        <% bear = "width:" + percentage_between( possible_runs[ 'bearish' ], 3 ).to_s + '%;' %>

        <div class="progress-bar bg-danger" style=<%= bear %> role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </caption>
  
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <% coins.each_with_index do |coin, index| %>
    <% user_coin = user(coin) %>
    <% trend_8h = trend_changes_of( coin, '8hr' ) %>
    <% trend_45m = trend_changes_of( coin, '45m' ) %>
    <% long_gain = coin[ 'long_gain' ] %>
    <% short_gain = coin[ 'short_gain' ] %>
    <% selected = selected_for_trade?( coin, index, @market_status ) %>
    <% trade_available = 'true' if selected %>
    <% price_change = coin[ 'market_cap_change_percentage_24h' ] %>

    <% id_target = 'prog-' + index.to_s %>
    <% status = coin['vs_24h'] %>
    <% data = status.to_s + '%' %>
    <% index = index.to_s %>
    
    <tbody>
      <% tr_bg = 'background-color:' + ( selected ? 'darkseagreen;' : '' ) %>
      <tr id="<%= coin['id'] %>" style=<%= tr_bg %>>
        <td style="font-size: smaller;">
          <div style="font-size: smaller;">
            <% if long_gain == 'N/A' %>
              <%= long_gain %>
            <% else %>
              <% color_a = "color:" + ( long_gain >= 0 ? "green" : "red" ) %>
            
              <em style=<%= color_a %>>
                <%= long_gain.round(2) %>
              </em>
            <% end %>
            
            <% if short_gain == 'N/A' %>
              <%= short_gain %>
            <% else %>
              <% color = "color:" + ( short_gain >= 0 ? "green;" : "red;" ) + "font-size:" + "xx-small" %>

              <em style=<%= color %>>
                <%= short_gain.round(2) %>
              </em>
            <% end %>
          </div>
          
          <hr style="margin-top: 0%; margin-bottom: 0%; width: 70px" >

          <%= link_to coin_path(user_coin), method: 'get' do %>
            <em style="font-size: smaller; margin-top: 0%"><%= coin['id'] %></em>
          <% end %>

         <em style="font-size: smaller; color: maroon; margin-top: 0%"><%= ' ( ' + coin[ 'trade_grade' ].round(2).to_s  + ' )' %></em>

          <hr style="margin-top: 3px; margin-bottom: 0%; width: 70px" >

          <div>
           <em style="font-size: 8px;">
              <%= "\u{20B1}".encode('utf-8') + humanize_price( current_price_of( coin ) ).to_s %>
           </em>
          </div>
        </td>

        <td style="padding:0%">
          <div style="margin-top:15px;">
            <div class="progress" style="width: 100px; margin-top:7px">
              <div id=<%= id_target %> class="progress-bar <%= 'bg-info' %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          
            <div class="my-grid" style="width: 100px" >
              <% trend_sum_8h = sum_price_changes( trend_8h ) %>

              <div>
                <% trend_8h.each_with_index do | trend, index | %>
                  <% trend_change = percentage_between( trend.abs, trend_sum_8h ) %>
              
                  <% trend = "width:" + trend_change.to_s + '%;' + "background-color:" + value_color( trend ) %>
                  <% trend_class = 'col-' + (index + 1).to_s + '-10 '%>

                  <% unless trend_change < 1 %>
                    <div class=<%= trend_class %> style=<%= trend %>></div>
                  <% end %>
                <% end %>
              </div>
            </div><br>
              
            <div class="my-grid" style="width: 100px; margin-top: -10px" >
              <% trend_sum = sum_price_changes( trend_45m ) %>
              
              <% trend_45m.each_with_index do |trend, index| %>
                <% trend_change = percentage_between( trend.abs, trend_sum ) %>
              
                <% trend = "width:" + trend_change.to_s + '%;' + "background-color:" + value_color( trend ) %>
                <% trend_class = 'col-' + (index + 1).to_s + '-10 '%>

                <% unless trend_change < 1 %>
                  <div class=<%= trend_class %> style=<%= trend %>></div>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>

        <td>
          <% if coin['id'] == @trade_coin %>
            <em style="float: right; margin-top: 21px; margin-right:9px; font-size: x-small">
              ATP: <%= atp.round( 2 ) %>
            </em>
          <% else %>
            <%= link_to coins_make_trade_path( buy: coin['id'], sell: @trade_coin, atp: atp ), method: 'post', data: { confirm: "Are you sure you want to trade these coins?, average profit take is #{ atp.round(2) }" } do %>
              <button  type="button" class="<%= button_color( coin ) %>" style="width:60px; height: 30px; font-size:xx-small; margin-top: 13px; padding-left: 0%; padding-right: 0%; float:right">
                <img src=<%= trade_coin['image'] %> style="width: 21px">
                =>
                <img src=<%= coin['image']%> style="width: 21px">
              </button>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>

    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
      --border: <%= border_color %>;
      }

      td {
        border-top: var(--border);
      }
    </style>

    <%= render 'coins/view_functions/price_indicator' %>
  <% end %>
</table>

<script>
  function show() {
    var notifier = document.getElementById("notifier");
    var notif_sound = document.getElementById("notif-sound");
    
    
    if ( '<%= trade_available %>' === 'true' ) {
      notifier.hidden = false;
      notif_sound.play();
    }
  }
  show()
</script>

<%= render 'coins/view_functions/auto_refresh' %>