<% all_coins = @coins.sort_by { |k| k['vs_24h'] }.reverse %>
<% all_coins = insert_price_trends(all_coins) %>

<table class = 'table'>
  
  <thead>
    <tr>
      <th>Coin</th>
      <th>Gain</th>
      <th>Trend</th>
    </tr>
  </thead>
  
  <% all_coins.each_with_index do |coin, index| %>
    <% user_coin = user(coin) %>
    
    <% id_target = 'prog-' + index.to_s %>
    <% status = coin['vs_24h'] %>
    <% data = status.to_s + '%' %>
    <% index = index.to_s %>
    
    <tbody>
      <tr>
        <td style="margin-bottom: 0%;">
          <div style="font-size: smaller;">
            <img src="<%= coin['image']%>">
            <%= link_to coin['symbol'], coin_path(user_coin), method: 'get' %>
            <%= "\u{1FA99}".encode('utf-8') if is_user_owned?(user_coin) %>
          </div>

          <hr style="width:85px; margin-top:0%; margin-bottom:0%">

          <div style="font-size: smaller; margin-left:5px">
            <%= "\u{20B1}".encode('utf-8') + current_price_of(coin).to_s %>
          </div>
        </td>

        <td>
          <div style="margin-top: 11px">
            <% price_gain = coin['price_gain'] %>
            
            <% unless price_gain == 'N/A' %>
              <% color = "color:" + ( price_gain >= 0 ? "green" : "red" ) %>
              
              <em style=<%= color %>>
                <%= price_gain.abs.round(2) %>
              </em>
            <% end %>
          </div>
        </td>

        <td>
          <div class="progress" style="width: 150px; margin-top:7px">
            <div id=<%= id_target %> class="progress-bar <%= 'bg-info' %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
          <div class="my-grid">
            <% trend_sum = sum_price_changes(coin['trend']) %>
            
            <% coin['trend'].each_with_index do |trend, index| %>
              <% trend_color, trend_value = trend %>
              <% trend_change = percentage_between( trend_value, trend_sum ).to_s + '%;' %>
              
              <% trend = "width:" + trend_change + "background-color:" + trend_color %>
              <% trend_class = 'col-' + (index + 1).to_s + '-10 '%>

              <div class=<%= trend_class %> style=<%= trend %>></div>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>

    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
    }
    </style>

    <script>
      var css_root = document.querySelector(':root');
      var css_data = getComputedStyle(css_root);
  
      var data = css_data.getPropertyValue('--data');
      var index = css_data.getPropertyValue('--index');

      data_arr.push(data)
      id_arr.push(Number(index))

      render_data(data_arr, id_arr);
    </script>
  <% end %>
</table>
