<% all_coins = [@buy_coins, @observe_coins].flatten(1).sort_by { |k| k['vs_24h'] }.flatten(1).reverse %>

<table class = 'table'>
  
  <thead>
    <tr>
      <th>Coin</th>
      <th></th>
      <th>Current Price</th>
    </tr>
  </thead>
  
  <% all_coins.each_with_index do |coin, index| %>
    <% user_coin = user(coin) %>
    
    <% id_target = 'prog-' + index.to_s %>
    <% status = coin['vs_24h'] %>
    <% data = status.to_s + '%' %>
    <% index = index.to_s %>
    
    <tbody>
      <tr>
        <% warning_bg = "background-color:red;" %>
        <td style=<%= coin_reaches_lose_margin?(coin) ? warning_bg : '' %> >
          <img src="<%= coin['image']%>">
          <%= link_to coin['symbol'], coin_path(user_coin), method: 'get' %>
          <%= "\u{1F4B5}".encode('utf-8') if user_coin_has_entry?(coin) %>
        </td>

        <td>
          <div class="progress" style="width: 150px">
            <div id=<%= id_target %> class="progress-bar <%= 'bg-success' %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>
        
       <td><%= coin['current_price'].round(5) %></td>
      
      </tr>
    </tbody>

    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
    }
    </style>

    <%= javascript_include_tag '/home/enzo/ccia/app/assets/javascripts/home.js' %>
  <% end %>
</table>
