<% all_coins = @coins.sort_by { |k| k['vs_24h'] }.reverse %>

<table class = 'table'>
  
  <thead>
    <tr>
      <th>Coin</th>
      <th>Price</th>
      <th>24_h Data</th>
    </tr>
  </thead>
  
  <% all_coins.each_with_index do |coin, index| %>
    <% user_coin = user(coin) %>
    
    <% id_target = 'prog-' + index.to_s %>
    <% status = coin['vs_24h'] %>
    <% data = status.to_s + '%' %>
    <% index = index.to_s %>
    
    <tbody>
      <tr>
        <% warning_bg = "background-color:red;" %>
        <td style=<%= coin_reaches_lose_margin?(coin) ? warning_bg : '' %> >
          <img src="<%= coin['image']%>">
          <%= link_to coin['symbol'], coin_path(user_coin), method: 'get' %>
          <%= "\u{1F4B5}".encode('utf-8') if user_coin_has_entry?(coin) %>
        </td>

        <td><%= current_price_of(coin) %></td>

        <td>
          <div class="progress" style="width: 150px">
            <div id=<%= id_target %> class="progress-bar <%= 'bg-success' %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>
      </tr>
    </tbody>

    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
    }
    </style>

    <script>
      var css_root = document.querySelector(':root');
      var css_data = getComputedStyle(css_root);
  
      var data = css_data.getPropertyValue('--data');
      var index = css_data.getPropertyValue('--index');

      data_arr.push(data)
      id_arr.push(Number(index))

      render_data(data_arr, id_arr);
    </script>
  <% end %>
</table>

