<% sell_coin = @observe_coins.shift %>

<table class = 'table'>
  
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Trade</th>
    </tr>
  </thead>
  
  <% @buy_coins.reverse.each_with_index do |coin, index| %>
    <% user_coin = user(coin) %>
    
    <% id_target = 'prog-' + index.to_s %>
    <% data = coin['vs_24h'].to_s + '%' %>
    <% index = index.to_s %>
    
    <tbody>
      <tr>
        <td>
          <%= generate_unicode_for(coin) %>
          
          <%= link_to coin['symbol'], coin_path(user_coin), method: 'get' %>
          
          <div class="progress" style="width: 150px;">
            <div id=<%= id_target %> class="progress-bar <%= 'bg-success' %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>
        
        <td>
          <%= link_to sell_coin['name'], coin_path( user( sell_coin ) ), method: 'get' %>
          
          <div class="progress" style="width: 150px;">
            <% width = "width:" + (sell_coin['vs_24h']).to_s + '%' %>
            <div class="progress-bar <%= 'bg-success' %>" style=<%= width %>  role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>

        <td>
          <%= link_to show_trade_path(buy: coin['id'], sell: sell_coin['id']), method: 'get' do%>
            <button type="button" class="btn btn-outline-success">
              <img src="<%= coin['image']%>"> => <img src="<%= sell_coin['image']%>">
            </button>
          <% end %>
        </td>
      </tr>
    </tbody>
  
    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
    }
    </style>

    <script>
      var css_root = document.querySelector(':root');
      var css_data = getComputedStyle(css_root);

      var data = css_data.getPropertyValue('--data');
      var index = css_data.getPropertyValue('--index');

      data_arr.push(data)
      id_arr.push(Number(index))

      render_data(data_arr, id_arr);
</script>

    <%= javascript_include_tag '/home/enzo/ccia/app/assets/javascripts/home.js' %>
  <% end %>
</table>
