<script>
  data_arr = []
  id_arr = []

  function render_data(data_arr, id_arr) {
  data_arr.forEach((data, index) => {
    const id = id_arr[index]
   
     document.getElementById("prog-" + id).style.width = data;
    });
  };
</script>

<div style="float: right;">
  <%= link_to "\u{1F4C8}".encode('utf-8'), coins_gain_reset_path(coins: @coin_ids), method: 'post', data: { confirm: 'Are you sure you want to reset current observation data?'}  %>
</div>

<% if @all %>
  <%= render 'coin_view' %>
<% elsif @trade_coin.present? %>
  <%= render 'trade_view' %>
<% else %>
  <% if @coins.class == String %>
    <h3><%= @coins %></h3>
  <% else %>
    <%= render 'observe_mode' %>
  <% end %>
<% end %>

<script>
  document.getElementById('<%= find_focus %>').scrollIntoView( { block: "center" } );
</script>
