<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div>
  <ul class='nav-menu'>
    <ul class='nav-item'>
      <% if @selected_coin.present? %>
        <% if is_user_owned?( @selected_coin ) %>
          <div>
            <% high, low = generate_margins( @selected_coin ) %>
            <%= "rise margin: #{ high }, drop margin: #{ low }" %>
          </div>
        <% end %>
        
        <div>
          <%= link_to 'Edit Coin', edit_coin_path( @selected_coin ), method: 'get' %>
        </div>

        <% unless is_user_owned?( @selected_coin ) %>
          <div>
            <% action = @selected_coin.is_observed ? 'Stop' : 'Start' %>
            <%= link_to action + ' Observing', coins_observe_path( coin_to_observe: @selected_coin.coin_id ), method: 'post' %>
          </div>
        <% end %>
      <% end %>

      <div>
        <%= link_to 'Add Coin', new_coin_path, method: 'get' %><br>
      </div>

      <div>
        <% if @all || @selected_coin.present? || @trade_coin.present? %>
          <%= link_to 'Observe_Mode', root_path, method: 'get' %>
        <% end %>
      </div>

      <div>
        <% unless @trade_coin.present? %>
          <%= link_to 'Trade Coins', trade_path, method: 'get' %>
        <% end %>
      </div>

      <div>
        <br><br><%= link_to 'Sign_out', destroy_user_session_path, method: 'delete' %><br><br>
      </div>

      
      <div>
        <%= link_to 'Reset Short Gain Data', coins_gain_reset_path( gain: 'short' ), method: 'post', data: { confirm: 'Are you sure you want to reset short gain data?' }  %>
      </div>
      
      <div>
        <%= link_to 'Reset All Gain Data', coins_gain_reset_path( gain: 'all' ), method: 'post', data: { confirm: 'Are you sure you want to reset all gain data?'} %>
      </div>
    </ul>
  </ul>
</div>
