<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div>
  <ul class='nav-menu'>
    <ul class='nav-item'>
      <% unless current_page?( root_path ) %>
        <%= link_to ( is_user_owned?(@coin) ? 'Unmark Coin': 'Mark Coin'), coin_path(@coin), method: 'patch' %><br>
        <%= link_to 'Delete Coin', coin_path(@coin), method: 'delete', data: { confirm: "Are you sure you want to delete #{@market['name']} ?"} %><br>
      <% end %>
      
      <%= link_to 'Add Coin', new_coin_path, method: 'get' %><br>
      <%= link_to 'Observe Mode', root_path(observe: true), method: 'get' %><br>
      <%= link_to 'Sign_out', destroy_user_session_path, method: 'delete' %>
    </ul>
  </ul>
</div>