<h3>
  <%= 'Edit ' + @coin.coin_id %>
  <%= link_to '[X]', coin_path( @coin ), method: 'delete', data: { confirm: "Are you sure you want to delete #{ show_ids( @coin ) } ?"} %>
</h3><br>

<%= simple_form_for @coin do |f| %>
  <%= f.label 'Coin Type' %> 
  <%= f.input :coin_type, as: :select, collection: [ 'altcoin', 'stablecoin', 'shitcoin' ], label: false, include_blank: false, input_html: { class: "form-control", required: true } %><br>

  <%= f.label 'Holdings' %> 
  <%= f.input :holdings, label: false, input_html: { class: "form-control", required: true } %><br>

  <%= f.label 'Hold Partitions' %> 
  <%= f.input :fuse_count, label: false, input_html: { class: "form-control" } %><br><br>
  
  <%= f.submit %><br><br>
<% end %>
