<div class="parent-container d-flex">
  <div class="container">
    <img class= 'trade-img', src=<%= @buy['image'] %>>
    <h1><%= @buy['name'] %></h1>
  </div>

  <div style="margin-top:8%" class="container">
    <%= link_to trade_path(buy: @buy['id'], sell: @sell['id']), method: 'post' do%>
      <button type="button" class="btn btn-outline-success">
        Sync Trade
      </button>
    <% end %>
  </div>

  <div class="container">
    <img class= 'trade-img', src=<%= @sell['image'] %>>
    <h1><%= @sell['name'] %></h1>
  </div>
  </div>
</div>